
body
{
    /*background-color: black;*/
}

#contenedor-juego
{
    position: absolute;
    border: 1px solid;
    width: 1000px;
    height: 500px;
}

#tanque
{
    position: absolute;
    top: 450px;
}

#contenedor-marcianitos
{
    position: absolute;
    /*border: solid 1px;    */
}

.bala
{
    position: absolute;
}